In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

#Tabela 2015 - 2021

In [3]:
#tabela completa 2015 à 2021
df = pd.read_csv('/home/eduardo/Documents/Projetos/Análise_Usuários_LCE/LCE_2015-2021 - Página1.csv' , sep=';')
df

             Data           Hora       Equipamento        Usuário Reserva
0      2011-06-03  18:00 ~ 20:00      MEV XL30 TMP      MAURIZIO FERRANTE
1      2014-12-18  18:00 ~ 20:00  MEV INSPECT EBSD  ELTON PATRICK BARBANO
2      2014-12-19  14:00 ~ 16:00      MEV MAGELLAN   Kátia Regina Cardoso
3      2014-12-19  16:00 ~ 18:00      MEV MAGELLAN   Kátia Regina Cardoso
4      2014-12-19  16:00 ~ 18:00  MEV INSPECT EBSD     Weber Saint-Gobain
...           ...            ...               ...                    ...
23902  2021-06-04  10:00 ~ 12:00  MEV INSPECT EBSD                    LCE
23903  2021-06-04  12:00 ~ 14:00  MEV INSPECT EBSD                    LCE
23904  2021-06-04  14:00 ~ 16:00  MEV INSPECT EBSD                    LCE
23905  2021-06-04  16:00 ~ 18:00  MEV INSPECT EBSD                    LCE
23906  2021-06-04  18:00 ~ 20:00  MEV INSPECT EBSD                    LCE

[23907 rows x 4 columns]

#Organizando o dataframe

In [4]:
#convertendo data para o formato pandas
df['Data']=pd.to_datetime(df['Data'])

In [5]:
#substituindo valores no dataset
df = df.replace(['MICROSCOPIO OPTICO CONFOCAL OLYMPUS'],'CONFOCAL')
df = df.replace(['MET TECNAI LaB6 - ASTAR'],'MET TECNAI LaB6')

In [6]:
#Localizando as exceções
LCE = df.loc[df['Usuário Reserva'] == 'LCE'] 
Escola = df.loc[df['Usuário Reserva']=='ESCOLA DE MICROSCOPIA']
Aula  = df.loc[df['Usuário Reserva']=='AULA']
Treinamento = df.loc[df['Usuário Reserva']== 'TREINAMENTO']
Indisponível = df.loc[df['Usuário Reserva']== 'INDISPONIVEL']

In [7]:
Indisponível_index = Indisponível.index
LCE_index = LCE.index
Escola_index = Escola.index
Aula_index = Aula.index
Treinamento_index = Treinamento.index 
Escola_index

Int64Index([  636,   637,   638,   639,   640,   641,   642,   643,   644,
              645,
            ...
            18337, 18338, 18339, 18340, 18341, 18342, 18343, 18344, 18345,
            18346],
           dtype='int64', length=936)

In [8]:
#excluindo as exceções
df1 = df.drop(LCE_index)
df2 = df1.drop(Escola_index)
df3 = df2.drop(Aula_index)
df4 = df3.drop(Treinamento_index)
df5 = df4.drop(Indisponível_index)
df6 = df5

#Selecione o período desejado:

In [9]:
#Escolhendo o intervalo de datas a serem analisados
start_date = input('Data inicial (ano-mes-dia) \n')
end_date = input('Data final (ano-mes-dia) \n')
mask = (df5['Data'] > start_date) & (df5['Data'] <= end_date)
  
df5 = df5.loc[mask]

# Tabela Completa (usuários e empresas)

In [10]:
#tabela sem as reservas LCE / aula / escola
df5

           Data           Hora       Equipamento           Usuário Reserva
4491 2016-10-03  10:00 ~ 12:00  MEV INSPECT EBSD              Lucas Varoto
4492 2016-10-03  14:00 ~ 16:00      MEV XL30 FEG  THALLITA PEREIRA QUEIROZ
4493 2016-10-03  10:00 ~ 12:00  MET TECNAI G2F20   Murillo Cardoso Ribeiro
4494 2016-10-03  08:00 ~ 10:00  MET TECNAI G2F20   Murillo Cardoso Ribeiro
4495 2016-10-04  08:00 ~ 10:00  MET TECNAI G2F20       Iara da Costa Souza
...         ...            ...               ...                       ...
7151 2017-09-29  08:00 ~ 10:00      MEV XL30 FEG   Dennis Balbino Gera/CSK
7152 2017-09-29  10:00 ~ 12:00      MEV XL30 FEG   Dennis Balbino Gera/CSK
7153 2017-09-29  14:00 ~ 16:00         MET CM120  LEONARDO BRESCIANI CANTO
7154 2017-09-29  16:00 ~ 18:00         MET CM120  LEONARDO BRESCIANI CANTO
7155 2017-09-29  16:00 ~ 18:00      MEV XL30 FEG       LUIZ FERNANDO GORUP

[2187 rows x 4 columns]

## Total de horas utilizadas durante o período

In [11]:
hrs_df5 = len(df5['Data'])
print('No período de %s à %s, foram utilizadas %d horas de equipamentos'%(start_date,end_date,hrs_df5*2))

No período de 2016-10-01 à 2017-10-01, foram utilizadas 4374 horas de equipamentos

# Número de usuários diferentes atendidos durante o período

In [12]:
usr = df5.drop_duplicates(subset=['Usuário Reserva'])
total_urs = len(usr.index)
print('No período de %s à %s, foram atendidos %d usuários diferentes'%(start_date,end_date,total_urs))

No período de 2016-10-01 à 2017-10-01, foram atendidos 397 usuários diferentes

# Utilização por usuário (%)

In [13]:
df5['Usuário Reserva'].value_counts(normalize=True)*100

AFINKO Soluções em Polímeros    6.355738
Lucas Barcelos Otani            1.600366
Vitor Ramos Ferrari             1.463192
ANDRÉA MADEIRA KLIAUGA          1.417467
Leandro Henrique Pereira        1.417467
                                  ...
Lais Reis Borges                0.045725
Marcos Roberto Chiaratti        0.045725
Anaisa de Oliveira              0.045725
BRUNO CAMPOS JANEGITZ           0.045725
José Wilson Batista da Silva    0.045725
Name: Usuário Reserva, Length: 397, dtype: float64

# Top 10 usuários (em horas)

In [14]:
x = df5['Usuário Reserva'].value_counts()*2
x.head(10)

AFINKO Soluções em Polímeros            278
Lucas Barcelos Otani                     70
Vitor Ramos Ferrari                      64
ANDRÉA MADEIRA KLIAUGA                   62
Leandro Henrique Pereira                 62
CONRADO R. M. AFONSO                     58
INDUSTRIAS TUDOR SP DE BATERIAS LTDA     56
Rafael Bonacin de Oliveira               54
Bruna Fernanda Batistão                  50
Yao Feng Guo/CSK                         48
Name: Usuário Reserva, dtype: int64

# Utilização por usuário (horas)

In [ ]:
df5['Usuário Reserva'].value_counts()*2

# Utilização por equipamento (%)

In [ ]:
df5['Equipamento'].value_counts(normalize=True)*100

# Utilização por equipamento (horas)

In [ ]:
df5['Equipamento'].value_counts()*2

# Utilização por equipamento (%) - MEV

In [ ]:
#criar tabela somente com MEVs
feg = df5[df5['Equipamento']=='MEV XL30 FEG']
tmp = df5[df5['Equipamento']=='MEV XL30 TMP']
mag = df5[df5['Equipamento']=='MEV MAGELLAN']
insp = df5[df5['Equipamento']=='MEV INSPECT EBSD']
MEV = pd.concat([feg,tmp,mag,insp])
MEV['Equipamento'].value_counts(normalize=True)*100

# Utilização por equipamento (%) - MET

In [ ]:
#criar tabela somente com METs
tecnai_feg = df5[df5['Equipamento']=='MET TECNAI G2F20']
tecnai_lab6 = df5[df5['Equipamento']=='MET TECNAI LaB6']
CM120 = df5[df5['Equipamento']=='MET CM120']
MET = pd.concat([tecnai_feg,tecnai_lab6,CM120])
MET['Equipamento'].value_counts(normalize=True)*100

# INFORMAÇÕES ADCIONAIS
## Período 2015 à 2021

## Total de usuários por equipamento

### MET TECNAI FEG

In [ ]:
tecnai_usr = df6[df6['Equipamento']=='MET TECNAI G2F20']
print('Lista de usuátios: ',tecnai_usr['Usuário Reserva'].unique())
print('Total de usuários: ',len(tecnai_usr['Usuário Reserva'].unique()))

### MEV - Inspect

In [ ]:
insp_usr = df6[df6['Equipamento']=='MEV INSPECT EBSD']
print('Lista de usuátios: ',insp_usr['Usuário Reserva'].unique())
print('Total de usuários: ',len(insp_usr['Usuário Reserva'].unique()))

### MEV TMP

In [ ]:
tmp_usr = df6[df6['Equipamento']=='MEV XL30 TMP']
print('Lista de usuátios: ',tmp_usr['Usuário Reserva'].unique())
print('Total de usuários: ',len(tmp_usr['Usuário Reserva'].unique()))

### MEV FEG

In [ ]:
feg_usr = df6[df6['Equipamento']=='MEV XL30 FEG']
print('Lista de usuátios: ',feg_usr['Usuário Reserva'].unique())
print('Total de usuários: ',len(feg_usr['Usuário Reserva'].unique()))

### MEV Magellan

In [ ]:
mag_usr = df6[df6['Equipamento']=='MEV MAGELLAN']
#mag.drop_duplicates(subset=['Usuário Reserva'], keep='last') #mostra a ultima reserva de cada usuário
print('Lista de usuátios: ',mag_usr['Usuário Reserva'].unique())
print('Total de usuários: ',len(mag_usr['Usuário Reserva'].unique()))

# Horas utilizadas por equipamento

In [ ]:
df6['Equipamento'].value_counts().sort_index().plot.bar(color=['orange','orange','blue','blue','blue','red','red','red','red'],rot=0)
plt.xlabel('Equipamento', fontsize = 12)
plt.ylabel('Horas', fontsize = 12)
plt.title('Uso dos equipamentos LCE', fontsize = 18)
plt.gcf().set_size_inches(18, 15) #altera tamanho 
plt.show()